# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @jillztom @Kong/team-core-ui

# Workflows & CI
/.github/ @adamdehaven @jillztom
/lefthook.yaml @adamdehaven @jillztom

# Generate scripts
/scripts/ @adamdehaven @jillztom @portikM

# SVG source files
/svg/ @Kong/team-core-ui

# Existing component list
/src/component-list.ts @adamdehaven @jillztom

# Renovate approvals
# Allow Kongponents BOT to approve renovate updates
# These rules MUST remain at the bottom as the last entry
package.json @kongponents-bot @adamdehaven @jillztom @portikM
pnpm-lock.yaml @kongponents-bot @Kong/team-core-ui
