name: Publish

on:
  push:
    branches:
      - main
      - alpha
      - beta

jobs:
  run-tests:
    name: Tests
    uses: ./.github/workflows/test.yaml

  publish:
      name: Build and Publish
      needs:
        - run-tests
      runs-on: ubuntu-latest
      steps:
        - name: Harden Runner
          uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
          with:
            egress-policy: audit
        - name: Checkout
          uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
          with:
            fetch-depth: 0
            token: ${{ secrets.KONGPONENTS_BOT_PAT }}

        - name: setup git
          run: |
            git config user.email "konnectx-engineers+kongponents-bot@konghq.com"
            git config user.name "Kong UI Bot"

        - name: Create .npmrc
          env:
            NPM_TOKEN: ${{ secrets.NPM_TOKEN_PUBLIC_PUBLISH }}
          # Reference the env variable NPM_TOKEN here, not the secret
          run: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc

        - name: Use Node.js
          uses: actions/setup-node@cdca7365b2dadb8aad0a33bc7601856ffabcc48e # v4.3.0
          with:
            node-version-file: '.nvmrc'

        - name: Setup PNPM with Dependencies
          uses: ./.github/actions/setup-pnpm-with-dependencies/
          with:
            force-install: true

        - name: Build
          # Since we lint in the Tests job, we can just build the components here
          run: pnpm build:components

        # Since everything was successful, update the src/component-list.ts file to compare
        # against in future runs. Since this file is modified here in the CI, it is written back
        # to the repository via the `/package.json` file `@semantic-release/git` => `assets` config
        - name: Update component-list.ts
          run: pnpm update-component-list

        # Since everything was successful, update the Vitest snapshot files to compare
        # against for future runs. Since the snapshot files are modified here in the CI, they are written back
        # to the repository via the `/package.json` file `@semantic-release/git` => `assets` config
        - name: Update test snapshots
          run: pnpm test --update

        - name: Semantic Release
          uses: cycjimmy/semantic-release-action@0a51e81a6baff2acad3ee88f4121c589c73d0f0e # v4.2.0
          env:
            # Since branch protections are on (pushing commits) you need to use a bot PAT
            GITHUB_TOKEN: ${{ secrets.KONGPONENTS_BOT_PAT }}
            NPM_TOKEN: ${{ secrets.NPM_TOKEN_PUBLIC_PUBLISH }}

